﻿@model IEnumerable<ReportCardManagementApp.Models.StudentClass>

@{
    ViewBag.Title = "EnrollmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.ClassName - Enrollment List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
        </tr>
    </thead>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Students", new { id = item.StudentID })">@item.Student.FirstName @item.Student.LastName</a>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
        }

    </table>
