﻿@model ReportCardManagementApp.ViewModels.StudentClassesIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Enrollment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Class Name
            </th>
            <th>
                Number Enrolled
            </th>
        </tr>
    </thead>

@foreach (var item in Model.Counts) {
    <tr>
        <td>
            <a href="@Url.Action("EnrollmentList", "StudentClasses", new { id = item.ClassID })"> @Html.DisplayFor(modelItem => item.ClassName) </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfEnrollments)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
