﻿@model ReportCardManagementApp.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherReportDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherReportDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
