﻿@model IEnumerable<ReportCardManagementApp.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>List of Reports</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherReportDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherReportDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReportID })
        </td>
    </tr>
}

</table>
