﻿@model ReportCardManagementApp.ViewModels.GenerateReportCardIndexViewModel


@{
    ViewBag.Title = "Generate Report Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Report Card</h2>
<h3>@ViewBag.Student.FirstName @ViewBag.Student.LastName</h3>


<table class="table table-striped">
    <tr>
        <th>
            Class Name
        </th>
        <th>
            Letter Grade
        </th>
    </tr>

    @foreach (var item in Model.Grades)
    {
        <tr>
            <td>
                @item.ClassName
            </td>
            <td>
                @item.Grade
            </td>
        </tr>
    }

</table>