﻿@model IEnumerable<ReportCardManagementApp.Models.Student>

@{
    ViewBag.Title = "Generate Report Cards - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Report Cards</h2>
<h3>List of Students</h3>

<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                DOB
            </th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Generate", "GenerateReportCard", new { studentID = item.StudentID })">@Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName).ToString()[0]</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
    </tr>
}

</table>
