﻿
@{
    ViewBag.Title = "BootstrapGrid";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bootstrap Grid
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-wrench"></i> Bootstrap Grid
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-12
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-8 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-8
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->