﻿@model ReportCardManagementApp.Models.Homework

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Homework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeWorkContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeWorkContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherHomeworkDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherHomeworkDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomeworkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
