﻿@model IEnumerable<ReportCardManagementApp.Models.Homework>

@{
    ViewBag.Title = "Index";
}

<h2>Homework (@ViewBag.Filter)</h2>

<p>
    @Html.ActionLink("View All", "Index", "Homework", new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Assigned", "Index", "Homework", new { filter = "Assigned"}, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Turned In", "Index", "Homework", new { filter = "Turned In"}, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Graded", "Index", "Homework", new { filter = "Graded" }, new { @class = "btn btn-primary btn-large" })
</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Day Assigned @*@Html.DisplayNameFor(model => model.DateCreated)*@
            </th>
            <th>
                Assignment Name @*@Html.DisplayNameFor(model => model.HomeWorkContent)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                Other Details @*@Html.DisplayNameFor(model => model.OtherHomeworkDetails)*@
            </th>
            <th>
                Class Name @*@Html.DisplayNameFor(model => model.Class.ClassCode)*@
            </th>
            <th>
                Student @*@Html.DisplayNameFor(model => model.Student.FirstName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeWorkContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherHomeworkDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName), @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeworkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeworkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeworkID })
        </td>
    </tr>
}

</table>
