﻿@model IEnumerable<ReportCardManagementApp.Models.Homework>

@{
    ViewBag.Title = "ListOfClassHomework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Class Homework (@ViewBag.Filter)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeWorkContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherHomeworkDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.ClassCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeWorkContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherHomeworkDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.ClassCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeworkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeworkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeworkID })
        </td>
    </tr>
}

</table>
