﻿@model ReportCardManagementApp.ViewModels.HomeworkListOfClassesViewModel
@{
    ViewBag.Title = "ListOfClasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homework - @ViewBag.Filter - List of Classes</h2>

<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Class Name
            </th>
            <th>
                Subject
            </th>
            <th>
                Teacher
            </th>
            <th>
                Assignments
            </th>
        </tr>
    </thead>
    

    @foreach (var item in Model.Classes)
    {
        <tr>
            <td>
                <a href="@Url.Action("ListOfClassHomework", "Homework", new { id = item.InClass.ClassID, filter = "Turned In" })">@Html.DisplayFor(modelItem => item.InClass.ClassName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InClass.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InClass.Teacher.FirstName) , @Html.DisplayFor(modelItem => item.InClass.Teacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homework)
            </td>
        </tr>
    }

</table>