﻿@model IEnumerable<ReportCardManagementApp.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>List of Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectID })
        </td>
    </tr>
}

</table>
