﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>What does the Report Card Management App do?</h3>

<h4>Dashboards</h4>
<p>In order to provide the best interface for managing multiple tasks, dashboards are provided. Each Dashboard is customized to fit the needs of each type of administrator.</p>

<h4>Enrollment</h4>
<p>The app allows you to easily enroll students into classes.</p>

<h4>Class Management</h4>
<p>Create the classes that the students will enroll in. You can of course edit or delete these classes as well.</p>

<h4>Assign Homework</h4>
<p>Create unique assigments to assign to your class. Homework is automatically assigned to all students enrolled in the class.</p>

<h4>Generate Report Cards</h4>
<p>Generate report cards for individual students, groups of students, or all students with a few clicks.</p>

<h4>Register Students</h4>
<p>Enter new students into the app to take advantage of the management features. Students can be enrolled in classes, assigned homework, and have their report card generated.</p>

<h4>Subject Management</h4>
<p>Manage the subjects that are taught for each class.</p>

<h4>Teacher Management</h4>
<p>Manage the teachers at your school. Teachers can be assigned classes that they manage and assign homework.</p>
