﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Report Card Management Application</h2>
    <p class="lead">The Report Card Management Application makes it easier for Teachers, Counselors, Principals, and other school administrators to manage enrollment, assignments, grades, and other administrative tasks.</p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>
            A customized Dashboard for Teachers.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "TeacherDashboard")">Dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Counselors</h2>
        <p>A customized Dashboard for Counselors.</p>
        <p><a class="btn btn-default" href="#">Dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Principals</h2>
        <p>A customized Dashboard for Principals.</p>
        <p><a class="btn btn-default" href="#">Dashboard &raquo;</a></p>
    </div>
</div>